$radiusNone: 0px;
$radiusQuark: 4px;
$radiusSmall: 8px;
$radiusMedium: 12px;
$radiusLarge: 20px;
$radiusXL: 24px;

$widthNone: 0px;
$widthHairline: 0.5px;
$widthThin: 1px;
$widthThick: 2px;
$widthHeavy: 4px;
