$oldLace: #f9f5eb;
$verdigris: #48c1ad;
$cultured: #f6f9f9;
$outerSpace: #444444;
$timberwolf: #dcd6cd;
$deepCarmine: #ec2f3b;
$orangeYellow: #facd60;
$darkCerulean: #103f72;
$blanchedAlmond: #faebcc;
$japaneseIndigo: #264653;
$halloweenOrange: #ea6126;
