$sZero: 0px;
$sPhoton: 2px;
$sQuark: 4px;
$sNano: 8px;
$sXXS: 12px;
$sXS: 16px;
$sSmall: 20px;
$sMedium: 24px;
$sLarge: 28px;
$sXL: 32px;
$sXXL: 40px;
$lXS: 48px;
$lSmall: 56px;
$lMedium: 64px;
$lLarge: 80px;
$lXL: 120px;
$lHuge: 160px;
$lGiant: 200px;
