@use "../variables/index" as v;

button {
  font-family: "Londrina";
  color: v.$cultured;
  padding: 16px;
  font-size: 16px;
  border: none;
  letter-spacing: 0.1em;
  border-radius: v.$radiusMedium;
  background-color: v.$verdigris;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
    opacity: 1;
    color: white;
    background-color: v.$timberwolf;
  }
}
